<div class="mycontenedor">
	<div style="position: absolute; width: 100%; height: 100%;">
    	<img src="/assets/main-fondo.jpg" style="width: 100%; height: 100%;" class="img-fluid">
  	</div>

	<div class="menu">
		<div class="row">
			<div class="col-md-8" style="padding-left: 20px;">
				<h4  animated fadeIn fast><small>La Bodega</small></h4>
			</div>
			<div class="col-md-4 text-right" style="padding-right: 20px;">
					
					<button type="button">
						<i class="fa fa-table" aria-hidden="true"></i>
					</button>

					<button type="button" (click)="verCarrito()">
						<i class="fa fa-shopping-cart" aria-hidden="true">
							<span *ngIf="itemCountBool" class="badge" style="background-color: red; color: white;">
								{{itemCountInt}}
							</span>
						</i>
					</button>

					<button type="button" (click)="salir()">
			        	<i class="fa fa-sign-out" aria-hidden="true"></i>
			      	</button>
					
			</div>
		</div>
	</div>

	<div style="padding-top: 15px;"></div>

	<div class="catalogo">
		<div class="row tb">
			<div class="col-md-8">
				<h3  animated fadeIn fast>Catálogo de <small>productos</small></h3>
			</div>
			<div class="col-md-4">
				<label><strong>¿Qué estas buscando?</strong></label>
				<input type="text" #txtbuscar placeholder="Buscando producto" class="form-control" name="txtbuscar" 
				(keyup)="buscarProductos(txtbuscar.value)">
			</div>
		</div>
		<hr>

		<div class="mycard">

				<div class="row" style="padding: 5px">
					<div class="col-md-3" *ngFor="let producto of productos;" >
						<div class="card">
							
							<img class="card-img-top" height="150px" [src]="producto.imagen" [alt]="producto.producto" />
							
							<div class="card-body">
						      <h4 class="card-title">{{producto.producto}}</h4>
						      <p class="card-text">
						      	<strong>Precio: </strong> ${{producto.precio}}
						      </p>
						      <p class="card-text">
						      	<strong>Unidades disponibles: </strong>{{producto.unidades_disponibles}}
						      </p>

						      	<div class="row">
						      		<div class="col-md-4">
									  <button type="button" (click)="verProducto(producto.id)" class="btn btn-primary btn-sm">
								        Ver Mas
								      </button>
								    </div>

								    <div class="col-md-4" *ngIf="producto.unidades_disponibles > 0">
								      <button type="button" (click)="addCarrito(producto, 1)" class="btn btn-warning btn-sm" >
								        Añadir
								      </button>			  				    
								    </div>

								    <div class="col-md-4" *ngIf="producto.unidades_disponibles > 0">
								    	<input #add type="number" id="add"
								    	class="form-control form-control-sm" 
								    	placeholder="1" name="add" 
								    	(click)="validar(add.value, producto.id)"
								    	step="1" value="1" min="1" max="1">     
								    </div>
						  		</div>
						    </div>
						</div>
					</div>
				</div>

				<div class="noproductos" *ngIf="noproductos">
					<div class="alert alert-warning" role="alert">
						No existen productos registrados...!
					</div>
				</div>

		</div>
	</div>
</div>

